*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  word-break: break-all;
}

html {
  height: 100%;

  font-size: 10px;
}

body {
  height: 100%;

  perspective: 1500px;

  color: #6e6e6e;

  font-size: 1.6rem;

  transform-style: preserve-3d;
}

.hover-rotator {
  position: absolute;

  z-index: 2;

  width: 400px;
  height: 250px;
}

.hover-rotator:nth-child(1) {
  top: calc(50% - 300px);
  left: calc(50% - 450px);

  border-radius: 0 0 100%;
}

.hover-rotator:nth-child(2) {
  top: calc(50% - 300px);
  right: calc(50% - 450px);

  border-radius: 0 0 0 100%;
}

.hover-rotator:nth-child(3) {
  bottom: calc(50% - 300px);
  left: calc(50% - 450px);

  border-radius: 0 100% 0 0;
}

.hover-rotator:nth-child(4) {
  right: calc(50% - 450px);
  bottom: calc(50% - 300px);

  border-radius: 100% 0 0 0;
}

.center {
  position: relative;

  display: flex;

  height: 100%;
  margin: auto;

  transition: 0.4s;

  transform-style: preserve-3d;
}

.center::before,
.center::after {
  position: absolute;

  content: '';
}

.hover-rotator:nth-child(1):hover ~ .center {
  transform: rotate3d(-1, 1, 0, -30deg);
}

.hover-rotator:nth-child(2):hover ~ .center {
  transform: rotate3d(-1, -1, 0, -30deg);
}

.hover-rotator:nth-child(3):hover ~ .center {
  transform: rotate3d(-1, -1, 0, 30deg);
}

.hover-rotator:nth-child(4):hover ~ .center {
  transform: rotate3d(-1, 1, 0, 30deg);
}

.canvas {
  position: relative;

  width: 900px;
  height: 600px;
  margin: auto;

  background: linear-gradient(#013971, #000c18 60%);

  transform-style: preserve-3d;
}

.canvas:before {
  position: absolute;

  width: 100%;
  height: 100%;

  background: #fff;

  content: url('static/lightning.png');

  opacity: 0;
}

.moon {
  position: absolute;
  bottom: -10%;
  left: calc(50% - 60px);

  width: 120px;
  height: 120px;

  border-radius: 50%;

  background: #fefce6;
  box-shadow: 0 1px 30px 0 rgba(255, 255, 255, 1);

  opacity: 1;
}

.center::after {
  width: 100%;
  height: 100%;
}

.stars {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 875px;
  margin: 0 auto;
}

.bridge {
  position: absolute;
  bottom: 10rem;
  z-index: 1;

  width: 100%;
  height: 2.6rem;

  border-top: 0.3rem solid white;
  border-bottom: 0.3rem solid white;

  transform: translate3d(0, 0, 80px);

  /* stylelint-disable-next-line */
  background: linear-gradient(55deg, transparent 46%, white 46%, white 54%, transparent 54%)
      left/1.6rem 2.2rem,
    linear-gradient(-55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem
      2.2rem;
}

.train {
  position: absolute;
  right: 0;
  bottom: 12.6rem;
  z-index: 1;

  width: 44rem;
  height: 10rem;

  transform: translate3d(0, 0, 80px);
}

.engine-front,
.engine-front::before,
.engine-front::after {
  border: 0.1rem solid rgba(255, 255, 255, 0.15);
  border-right: none;
  border-radius: 50% 0 0 50%;

  background: linear-gradient(0deg, #0f0f0f, #262626, #0f0f0f);
}

.engine-front {
  position: absolute;
  bottom: 1.4rem;
  left: 0;

  width: 8rem;
  height: 4.6rem;

  border-radius: 0.5rem 0 0 0.5rem;
}

.engine-front::before,
.engine-front::after {
  position: absolute;
  top: 50%;
  left: -0.9rem;

  width: 0.8rem;
  height: 70%;

  transform: translate(0, -50%);

  content: '';
}

.engine-front::after {
  left: -1.4rem;

  width: 0.5rem;
  height: 40%;
}

.chimney {
  position: absolute;
  top: -2.3rem;
  left: 2.5rem;

  width: 1.7rem;
  height: 2.2rem;

  background: #900;
}

.chimney::before,
.chimney::after {
  position: absolute;

  content: '';
}

.chimney::before {
  top: -0.9rem;
  left: 50%;

  width: 160%;

  border-top: 0.8rem solid orange;
  border-right: 0.5rem solid transparent;
  border-bottom: none;
  border-left: 0.5rem solid transparent;

  transform: translate(-50%, 0);
}

.smoke {
  position: absolute;
  top: -1.5rem;
  left: 0.2rem;
  z-index: -1;

  width: 0.8rem;
  height: 1.4rem;

  border-radius: 50%;

  background: rgba(255, 255, 255, 0.8);
}

.smoke-2 {
  left: 0.4rem;
}

.smoke-3 {
  left: 0.6rem;
}

.smoke-4 {
  left: 0.8rem;
}

.engine-body {
  position: absolute;
  bottom: 1.4rem;
  left: 8rem;

  width: 5rem;
  height: 7rem;

  border-radius: 0 0 0.4rem;

  background: linear-gradient(0deg, #300, red, #900);
}

.engine-body::before,
.engine-body::after {
  position: absolute;
  left: 50%;

  transform: translate(-50%, 0);

  content: '';
}

.engine-body::before {
  top: -1.2rem;

  width: 130%;
  height: 1.2rem;

  border-radius: 50% 50% 0 0;

  background: linear-gradient(0deg, #600, #900, #600);
}

.engine-body::after {
  top: 1rem;

  width: 45%;
  height: 40%;

  border-radius: 0.2rem;

  background: #b3e0f2;
}

.wheel-holder {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 2.8rem;
}

.wheel {
  position: absolute;
  left: 1rem;

  width: 2.8rem;
  height: 2.8rem;

  border: 0.3rem solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;

  background: orange;
}

.wheel-2 {
  left: 4.5rem;
}

.wheel-3 {
  top: -1.1rem;
  left: 8.7rem;

  width: 3.8rem;
  height: 3.8rem;

  border-width: 0.5rem;
}

.wheel-4 {
  left: 15.7rem;
}

.wheel-5 {
  left: 19.5rem;
}

.wheel-6 {
  left: 25.7rem;
}

.wheel-7 {
  left: 29.5rem;
}

.wheel-8 {
  left: 35.7rem;
}

.wheel-9 {
  left: 39.5rem;
}

.wheel::before,
.wheel::after {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  content: '';
}

.wheel::before {
  width: 0.2rem;
  height: 86%;

  background: rgba(0, 0, 0, 0.3);
}

.wheel::after {
  width: 40%;
  height: 40%;

  border-radius: 50%;

  background: radial-gradient(circle at center, #b37400 30%, #996300 30%);
}

.compartment {
  position: absolute;
  bottom: 1.4rem;
  left: 15rem;

  width: 8rem;
  height: 5rem;

  border-radius: 0 0 0.3rem 0.3rem;

  animation: body-upDown 0.3s infinite;

  background: linear-gradient(#104b63 50%, #1f8dba);
}

.compartment-two {
  left: 25rem;
}

.compartment-three {
  left: 35rem;
}

.compartment::before,
.compartment::after {
  position: absolute;
  bottom: 0.4rem;

  width: 0.9rem;
  height: 0.8rem;

  border: 0.4rem solid transparent;

  background: black;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);

  content: '';
}

.compartment::before {
  left: -0.9rem;

  border-left: 0.4rem solid rgba(255, 255, 255, 0.3);
}

.compartment::after {
  left: -2rem;

  border-right: 0.4rem solid rgba(255, 255, 255, 0.3);
}

.compartment-window {
  position: absolute;
  top: 0.7rem;

  width: 100%;
  height: 40%;

  background-image: linear-gradient(90deg, transparent 0.8rem, skyblue 0.8rem);
  background-position: left;
  background-size: 2.4rem 100%;
}

.compartment-window::before,
.compartment-window::after {
  position: absolute;

  content: '';
}

.compartment-window::before {
  top: -1.4rem;
  left: 50%;

  width: 110%;
  height: 0.6rem;

  border-radius: 50% 50% 0 0;

  transform: translate(-50%, 0);

  background: #104b63;
}

.wheel-joint {
  position: absolute;
  top: calc(50% - 0.2rem);
  right: 0.4rem;
  z-index: 1;

  width: 3.6rem;
  height: 0.4rem;

  border-radius: 0.6rem;

  transform-origin: 100% 50%;

  background: white;
}

.wheel-joint::before,
.wheel-joint::after {
  position: absolute;
  top: 50%;

  width: 0.8rem;
  height: 0.8rem;

  border: 0.1rem solid white;
  border-radius: 50%;

  transform: translate(0, -50%);

  background: #333;

  content: '';
}

.wheel-joint::before {
  left: -0.4rem;
}

.wheel-joint::after {
  right: -0.4rem;
}

.wheel-joint-2 {
  right: auto;
  left: 1.8rem;

  width: 4.4rem;

  transform: rotate(-15deg);
  transform-origin: 0 50%;
}

.wheel-joint-2::before {
  width: 1.1rem;
  height: 1.1rem;
}

.h-con {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  overflow: hidden;

  width: 100%;
  height: 420px;
}

.hill {
  position: absolute;
  z-index: 130;

  width: 700px;
  height: 1000px;
  margin-top: 140px;
  margin-left: -100px;

  border-radius: 30px;

  transform: rotate(45deg);

  background: linear-gradient(to bottom right, #002142, #27435f);
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.5);
}

.hill2 {
  position: absolute;
  z-index: 130;

  width: 800px;
  height: 1000px;
  margin-top: 140px;
  margin-left: 0;

  border-radius: 30px;

  transform: rotate(45deg);

  background: linear-gradient(to top right, #002142, #27435f);
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.5);
}

.hill3 {
  position: absolute;
  z-index: 130;

  width: 600px;
  height: 1000px;
  margin-top: 140px;
  margin-left: 150px;

  border-radius: 30px;

  transform: rotate(45deg);

  background: linear-gradient(to bottom right, #002142, #27435f);
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.5);
}

.cloud {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 200px;
  height: 60px;

  border-radius: 200px;

  background: #fff;

  opacity: 0.8;
}

.cloud:nth-child(1) {
  transform: translate3d(0, 0, 100px);
}

.cloud:nth-child(2) {
  transform: translate3d(0, 0, 80px);
}

.cloud:nth-child(3) {
  transform: translate3d(0, 0, 50px);
}

.cloud:nth-child(4) {
  transform: translate3d(0, 0, 30px);
}

.cloud:before,
.cloud:after {
  position: absolute;
  top: -15px;
  left: 10px;

  width: 100px;
  height: 80px;

  border-radius: 100px;

  background: #fff;

  content: '';
}

.cloud:after {
  top: -55px;
  right: 15px;
  left: auto;

  width: 120px;
  height: 120px;
}
