* {
    margin: 0;
    padding: 0;
}

.tree ul {
    position: relative;

    padding-top: 20px;

    transition: all 0.5s;
}

.tree li {
    position: relative;

    float: left;

    padding: 20px 5px 0 5px;

    text-align: center;

    list-style-type: none;

    transition: all 0.5s;
}

.tree li::before,
.tree li::after {
    position: absolute;

    top: 0;
    right: 50%;

    width: 50%;
    height: 20px;

    border-top: 1px solid #ccc;

    content: '';
}

.tree li::after {
    right: auto;
    left: 50%;

    border-left: 1px solid #ccc;
}

.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}

.tree li:only-child {
    padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}

.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
}

.tree ul ul::before {
    position: absolute;

    top: 0;
    left: 50%;

    width: 0;
    height: 20px;

    border-left: 1px solid #ccc;

    content: '';
}

.tree li a {
    display: inline-block;

    width: 53px;

    padding: 5px 5px;

    border: 1px solid #ccc;
    border-radius: 5px;

    color: #666;

    font-family: arial, verdana, tahoma;
    font-size: 11px;

    text-decoration: none;

    transition: all 0.5s;
}

.tree li a:hover,
.tree li a:hover + ul li a {
    border: 1px solid #94a0b4;

    color: #000;

    background: #c8e4f8;
}

.tree li a:hover + ul li::after,
.tree li a:hover + ul li::before,
.tree li a:hover + ul::before,
.tree li a:hover + ul ul::before {
    border-color: #94a0b4;
}